.footer {
    min-height: 200px;
    background: #E5E5E5;
    position: relative;
    text-decoration: bold;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: #27c978;
  }
  